/* Nav Bar */
.navbar-brand img {
    position: relative;
    padding-right: 5px;
    width: 45px;
}

span.logo {
    position: relative;
    top: -8px;
}

/* Map */
div#map {
    width: 100%;
    height: calc(100vh - 100px);
}

#modalButton {
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    position: relative;
    bottom: 70px;
    left: 15px;
    border-radius: 100px;
    height: 40px;
}

.glyphicon-question-sign:before {
    font-size: 30px;
}