/* Nav Bar */
.navbar-brand img {
    position: relative;
    padding-right: 5px;
    width: 45px;
}

span.logo {
    position: relative;
    top: -8px;
}

/* Map */
div#map {
    width: 100%;
    height: calc(100vh - 100px);
}

#modalButton {
    padding: 0px;
    position: relative;
    bottom: 70px;
    left: 15px;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background-image: url(../img/question_mark.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: #ff8100;
}


#modalButton:active:focus, #modalButton:focus {
    outline: none;
}

.glyphicon-question-sign:before {
    font-size: 30px;
}

#img-enigma {
    width: 50%;
}

.img-fullscreen {
    border: 10px solid red;
    width: 100vw;
}

#Fullscreen {

    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    height: 100% !important;

}
#Fullscreen img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50%;
}
@media(orientation: landscape) {
    #Fullscreen img{
        height: 100%;
        display: block;
        margin: 0 auto;
        width: initial;
    }
}
