/* Chat */
.messages {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.message {
    margin-bottom: 5px;
    margin-right: 5px;
}

.sent {
    text-align: right;
}

.message-input {
    display: inline;
    width: calc(100% - 50px);
    height: 35px;
    margin-left: 5px;
}

.chatSendPart {
    margin-top: 15px;
}

.message-name {
    color: lightgrey;
    font-size: 15px;
}

.message-content {
    color: white;
    background-color: #66a3ff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.received .message-content {
    background-color: #8cd98c;
}

.message-content-container {
    margin-top: 10px;
}

/* Nav Bar */
.navbar-brand img {
    position: relative;
    padding-right: 5px;
    width: 45px;
}

span.logo {
    position: relative;
    top: -8px;
}

/* Map */
div#map {
   /* width: 100%; */
    height: calc(100vh - 100px);
}

.container {
    position: relative;
}

#modalButton {
    padding: 0px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background-image: url(../img/question_mark.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: #ff8100;

}


#modalButton:active:focus, #modalButton:focus {
    outline: none;
}

.glyphicon-question-sign:before {
    font-size: 30px;
}

#img-enigma {
    width: 50%;
}

#indice {
    position: relative;
    top: 6px;
    display: none;
}

.img-fullscreen {
    border: 10px solid red;
    width: 100vw;
}

#Fullscreen {

    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    height: 100% !important;

}
#Fullscreen img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50%;
}
@media(orientation: landscape) {
    #Fullscreen img{
        height: 100%;
        display: block;
        margin: 0 auto;
        width: auto;
    }
}

/* modals */
.loader {
    font-size: 19px;
    margin: 5em auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load 1.3s infinite linear;
    animation: load 1.3s infinite linear;
}
@-webkit-keyframes load {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
    }
}
@keyframes load2 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
    }
}