<!-- Titre page -->
<div class="page-header">
    <h3>Titre de la page</h3>
</div>
<div class="row">
    <form class="form-horizontal col-xs-12 col-md-9 col-md-offset-1">
        <div class="form-group">
            <label class="col-md-3 control-label">Pseudo</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="pseudo" placeholder="Votre pseudo...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Équipe</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="team" placeholder="Votre équipe...">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9 text-center">
                <a href="#" type="submit" class="btn btn-default">Envoyer</a>
            </div>
        </div>
    </form>
</div>
