<div class="row" ng-init="test = true">
    <div class="col-xs-12">
        <div id="map"></div>
    </div>
</div>
<button id="modalButton" type="button" class="btn" ng-click="openEnigma()"></button>
<div id="Fullscreen">
    <img src="" alt="" />
</div>
<!-- MODALS -->
<!-- ENIGMA -->
<div class="modal fade" id="enigmaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Enigme : {{enigma.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-justify">
                            <div ng-if="enigma.text">{{enigma.text}}</div>
                            <div ng-if="!enigma.text" class="text-center">Pas encore d'énigmes !</div>
                        </p>
                        <img id="img-enigma" class="img-responsive center-block" ng-src="{{enigma.photo}}"/>
                    </div>
                    <div class="col-xs-12">
                        <a id="askClue" href="" ng-click="askClue()" class="btn btn-default" style="margin-top: 10px">Demander un indice</a>
                        <span id="indice">{{responseClue}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form name="form" class="form-horizontal col-xs-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label pull-left">Réponse</label>
                        <div class="col-md-10">
                            <textarea style="resize: vertical" class="form-control" id="answer" placeholder="Votre réponse..." ng-model="answer"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label pull-left">Photo</label>
                        <div class="col-md-10">
                            <input type="file" id="photoAnswer" ng-model="photoAnswer">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <input ng-click="sendAnswer()" type="submit" class="btn btn-default" value="Envoyer"/>
                        </div>
                    </div>
                    <div class="text-danger col-xs-12 text-center" ng-show="noAnswer != ''">
                        <p>{{noAnswer}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- waiting for confirmation modal -->
<!-- ENIGMA -->
<div class="modal fade" id="enigmaModal-answer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="onCloseModal()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Traitement de la réponse...</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="loader" ng-show="reponseEnigma != 'ok' && reponseEnigma != 'ko'"></div>
                        <div class="text-success col-xs-12 text-center" ng-show="reponseEnigma == 'ok'">
                            <p>Bonne réponse !</p>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#enigmaModal-answer" ng-click="onCloseModal()">Passer à la prochaine enigme</button>
                        </div>
                        <div class="text-danger col-xs-12 text-center" ng-show="reponseEnigma == 'ko'">
                            <p>Mauvaise réponse !</p>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#enigmaModal-answer" ng-click="onCloseModal()">Réessayer</button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>