<div class="chat col-xs-12">
	<div id="messages" class="messages row">
		<div ng-repeat="message in chatFactory.messages" class="message" ng-class="{received: (message.user != myName), sent: (message.user == myName)}">
			<div class="message-name">{{message.user}}</div>
			<div class="message-content">
					{{message.content}}
			</div>
		</div>
	</div>

	<form class="form-horizontal input-container">
		<div class="form-group">
			<input type="text" ng-model="myMessage" class="form-control message-input" id="exampleInputName2" placeholder="Message...">
			<button type="submit" class="btn btn-primary" ng-disabled="!myMessage" ng-click="sendMessage(myMessage); myMessage = ''">
				<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
			</button>
		</div>

	</form>
</div>